<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>co.conceptdev.todo.intent</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>2</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>IntentsRestrictedWhileLocked</key>
			<array/>
			<key>IntentsSupported</key>
			<array>
				<string>INAddTasksIntent</string>
				<string>INCreateTaskListIntent</string>
				<string>INSetTaskAttributeIntent</string>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.intents-service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>IntentHandler</string>
	</dict>
	<key>NSSiriUsageDescription</key>
	<string>Todo11 listens for new tasks</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>MonkeyTodo</string>
			<key>INAlternativeAppNamePronounciation</key>
			<string>monkey to do</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>MonkeyNotes</string>
			<key>INAlternativeAppNamePronounciation</key>
			<string>monkey notes</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Todo11</string>
			<key>INAlternativeAppNamePronounciation</key>
			<string>todo eleven</string>
		</dict>
	</array>
	<key>CFBundleName</key>
	<string>Todo11Intent</string>
</dict>
</plist>
