<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Todo3</string>
	<key>CFBundleDisplayName</key>
	<string>Todo3</string>
	<key>CFBundleIdentifier</key>
	<string>co.conceptdev.WatchTodo.watchkitapp.watchkitextension</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>MinimumOSVersion</key>
	<string>3.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>co.conceptdev.WatchTodo.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
	<key>RemoteInterfacePrincipleClass</key>
	<string>InterfaceController</string>
	<key>CLKComplicationSupportedFamilies</key>
	<array>
		<string>CLKComplicationFamilyModularSmall</string>
		<string>CLKComplicationFamilyModularLarge</string>
		<string>CLKComplicationFamilyUtilitarianSmall</string>
		<string>CLKComplicationFamilyUtilitarianLarge</string>
		<string>CLKComplicationFamilyCircularSmall</string>
	</array>
	<key>WKCompanionAppBundleIdentifier</key>
	<string>co.conceptdev.WatchTodo.watchkitapp</string>
</dict>
</plist>
